#title {
    text-align: center;
    font-family: arial, sans-serif;
  }
  
  #trendingLinks {
    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border: 3px solid #ddd;
    width: 10%;
    padding-left: 140px;
  }
  
  #trendingLinks td, #trendingLinks th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #trendingLinks tr:nth-child(even){background-color: #f2f2f2;}
  
  #trendingLinks tr:hover {background-color: #ddd;}
  
  #trendingLinks th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
  }